:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    --box-shadow-light: 0 2.5rem 2.5rem rgba(0, 0, 0, 0.056);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: Outfit, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-height: 60.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    margin: 0 calc(27.5 / 375 * 100%);
    position: relative;
}

.card {
    max-width: 32rem;
    min-height: 49.9rem;
    padding: 1.6em;
    background-color: var(--white);
    box-shadow: var(--box-shadow-light);
    border-radius: 2rem;
    overflow: hidden;
}

.card h2 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 120%;
    color: var(--dark-blue);
}

.card p {
    font-size: 1.5rem;
    color: var(--grayish-blue);
    letter-spacing: calc(1em / 75);
    line-height: 140%;
}

.card__qr-code {
    max-width: 100%;
    vertical-align: middle;
    border-radius: 1rem;
}

.card__header {
    margin: 2.4rem 1.6rem;
}

.card__title{
    margin-block-end: 1.6rem;
    text-align: center;
}

.card__description {
    text-align: center;
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 1.35rem;
    color: hsl(220, 15%, 65%);
    text-align: center;
    margin-bottom: 1em;
}

.attribution a {
    color: var(--grayish-blue);
    transition: .2s;
    text-decoration: none;
}

.attribution a:hover {
    color: var(--dark-blue);
}

.attribution a:active {
    color: #b4b4b4;
}